body {
    background-color: rgb(30, 30, 93);
    color: white;
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}

a{
    color: white;
}

a:hover{
    color: crimson;
}

h1,h2,.link,.recipe-img {
    text-align: center;
}

.recipe-img img{
    height: 300px;
    width: auto;
}